.question {
  position: absolute;
  bottom: calc(72px + 128px + 32px);
}

.btn-wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  bottom: 72px;
  width: calc(100% - 24px);
  max-width: 1024px;
  gap: 16px;
}

.btn-wrapper > button {
  position: relative;
  font-size: 14px;
  padding: 24px;
}

.btn-wrapper > button > span {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 1.5em;
}
