.correct-answers {
  position: absolute;
  top: 72px;
  left: 24px;
  right: 24px;
  text-shadow: 0 0 8px #000;
  font-size: 24px;

  display: flex;
  justify-content: space-between;
}

.correct-answers > :first-child {
  color: red;
}

.correct-answers > :last-child {
  color: blue;
}

.question {
  position: absolute;
  top: -64px;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 0 24px #000;
  text-wrap: nowrap;
}

.btn-wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  bottom: 72px;
  width: calc(100% - 24px);
  max-width: 1024px;
  gap: 16px;
  transition: bottom 0.5s ease;
}

.btn-wrapper:not(.can-answer) {
  bottom: -256px;
}

.btn-wrapper > button {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  padding: 24px;
  border: solid 4px;
  background-color: #00000064;
  color: #fff;
  box-shadow: 0 0 24px #000;
  backdrop-filter: blur(6px);
}

.btn-wrapper > :nth-child(1 of button) {
  border-color: red;
}

.btn-wrapper > :nth-child(2 of button) {
  border-color: yellow;
}

.btn-wrapper > :nth-child(3 of button) {
  border-color: blue;
}

.btn-wrapper > :nth-child(4 of button) {
  border-color: white;
}

.btn-wrapper > button > span {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 1.5em;
}

.start-btn {
  position: absolute;
}
