li {
  position: relative;
  list-style: none;
  z-index: 1;
  transition: filter 0.2s ease-in-out;
}

li:first-child {
  counter-reset: index;
}

li:nth-child(odd) {
  transform: translateX(-24px);
  animation: fromLeft 1s ease-in-out;
}

li:nth-child(even) {
  transform: translateX(24px);
  animation: fromRight 1s ease-in-out;
}

li::before {
  position: absolute;
  left: -24px;
  top: 0;
  right: -24px;
  bottom: 0;
  display: block;
  padding: 12px 16px;
  font-size: 1.3rem;
  background: var(--gradient);
  border-radius: 4px;
  content: counter(index) '.';
  counter-increment: index;
  z-index: -1;
}

li:hover {
  filter: brightness(1.2);
}

li > a {
  display: block;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 0;
}

li > a:hover {
  text-decoration: none;
}

@keyframes fromLeft {
  from {
    transform: translateX(calc(-50vw - 50% - 24px));
  }
  to {
    transform: translateX(-24px);
  }
}

@keyframes fromRight {
  from {
    transform: translateX(calc(50vw + 50% + 24px));
  }
  to {
    transform: translateX(24px);
  }
}
