.gamelink {
  position: relative;
  font-weight: bold;
  width: 100%;
  padding: 12px 16px;
  font-size: 1.3rem;
  background: #00000064;
  border: solid 4px;
  border-radius: 24px;
  text-align: center;
  transition: filter 0.2s ease-in-out;
}

.gamelink:hover {
  filter: brightness(1.2);
  text-decoration: none;
}

.gamelink:nth-child(odd) {
  animation: fromLeft 1s ease-in-out;
}

.gamelink:nth-child(even) {
  animation: fromRight 1s ease-in-out;
}

@keyframes fromLeft {
  from {
    transform: translateX(calc(-50vw - 50%));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fromRight {
  from {
    transform: translateX(calc(50vw + 50%));
  }
  to {
    transform: translateX(0);
  }
}
